.bio{
    display:flex; 
    height: 100vh;
    background-color: bisque;


}

.bio-left{
    flex: 1;
    display:flex;
    align-items: center;
    justify-content: center;

}

.bio-right{
    flex: 1;
    position: relative;
}

.bio-left-wrapper{
    padding: 50px;
    height: 50%;
    background-color: lightgoldenrodyellow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bio-intro{
    font-size: 30px;
    font-weight: 300;
}

.bio-name{
    font-size: 60px;
    color: lightcoral;
}

.bio-title{
    height: 40px;
    overflow: hidden;
}

@keyframes move{
25%{
    transform: translateY(-50px);
}
50%{transform: translateY(-100px);}
75%{transform: translateY(-150px);}
200%{transform: translateY(-200px);}
}

.bio-title-wrapper{
    height: 50px;
    animation: move 10s ease-in-out infinite alternate ;

}

.bio-title-item{
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    display: flex;
    align-items: center;
   
}

.bio-bg{
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    background-color: lavenderblush;
    height: 100%;
    width: 100%;
    position: absolute;
    
    top: 0;
    right: 0px;
    

}

.bio-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
     
}